@media screen and (max-width: 1024px) {
  html {
    font-size: 15px;
  }

  .footer-links,
  .footer-contact {
    padding-left: 2.75rem;
  }

  .footer-top h5 {
    font-size: 1.1rem;
    line-height: 1.4;
  }

  .email-msg.error {
    top: 135px;
    left: 20%;
}

}

@media screen and (max-width: 991px) {
  @media(max-width:991px) {
    .custom-header {
      padding: 15px 20px;
    }

    .logo-text {
      font-size: 16px;
    }

    .custom-nav {
      position: fixed;
      top: 0;
      left: -100%;
      transform: none;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      background: #2a2a2a;
      width: 280px;
      height: 100%;
      padding: 80px 30px;
      gap: 5px;
      transition: left .4s ease-in-out;
      z-index: 9999;
      border-right: 1px solid #333;
    }

    .custom-nav.active {
      left: 0;
    }

    .custom-nav ul {
      flex-direction: column;
      gap: 25px;
      width: 100%;
    }

    .custom-nav ul li a {
      font-size: 20px;
      font-weight: 600;
    }

    .custom-buttons {
      display: none;
    }

    .mobile-buttons {
      display: flex;
      flex-direction: column;
      gap: 40px;
      width: 100%;
      margin-top: 30px;
    }

    .mobile-buttons .custom-btn {
      width: 60%;
      padding: 11px 20px;
      font-size: 14px;
      margin-left: 48px;
  }

    .menu-toggle {
      display: block;
    }
  }

  /* OVERLAY */
  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
  }

  .menu-overlay.active {
    opacity: 1;
    visibility: visible;
  }

  .promise-grid {
    grid-template-columns: repeat(2, 1fr)
  }

  .diff-grid {
    grid-template-columns: 1fr
  }

  .about-intro .about-figure {
    height: 280px
  }

  .banner_text {
    text-align: center;
    max-width: 100%;
}

.banner_text h1 {
  font-size: 4rem;
}

.email-msg.error {
  top: 135px;
  left: 17%;
}

}


@media screen and (max-width:767px) {

  .footer_disclaimer {
    padding: 20px 80px;
    clip-path: none;
  }

  .figma_heading {
    font-size: 2.5rem;
}

.homepage-second .bnr-text h1 {
  font-size: 44px;
}

.last-update-content h4 {
  font-size: 22px;
}

.home_games_slider {
  position: relative;
  /* padding-bottom: 3.5rem; */
  width: 100%;
}

.slick-prev svg, .slick-next svg {
  width: 2rem;
  height: 2rem;
}

.banner_section_right {
  height: 400px;
}

.banner_text h1 {
  font-size: 3.2rem;
}

.home_games_slider .slick-prev {
  left: 50%;
  right: auto;
  bottom: -140px;
  transform: translateX(-120%);
}

.home_games_slider .slick-arrow {
  position: absolute !important;
  left: 42%;
  bottom: -170px;
  transform: unset;
  display: inline-block;
  margin: 0 10px;
}

.about-diff-img {
  height: 400px;
}

button.slick-next {
  right: 42%;
  z-index: 1;
  left: unset!important;
}

.looking-ahead-inner {
  padding: 32px 10px 28px 10px;
}
.looking-ahead-title {
  font-size: 2rem;
}
.looking-ahead-desc {
  font-size: 1.05rem;
}

.email-msg.error {
  top: 135px;
  left: 0%;
  padding: 4px 8px;
  font-size: 11px;
}



}



@media screen and (max-width:575px) {
  .footer_disclaimer {
    padding: 20px 30px;
  }

  .promise-grid {
    grid-template-columns: 1fr
  }

  .pt-8 {
    padding-top: 3rem !important;
}

.pb-8 {
    padding-bottom: 3rem !important;
} 

.slick-prev svg, .slick-next svg {
  width: 2rem;
  height: 2rem;
} 

.banner_section_right {
  height: 370px;
}

button.slick-next {
  right: 35%;
}

.home_games_slider .slick-arrow {
  left: 35%;
}

.our-mission-text h2 {
  margin-bottom: 10px;
}

.our-mission-text {
  padding: 15px 20px 15px 20px;
}

.our-mission-inner-img {
  height: 375px;
}
}



@media(max-width:425px) {
  .footer_btmWrapp {
    flex-wrap: wrap;
  }

  .ssl {
    width: 70%;
  }

  .footer_list {
    gap: 2rem;
  }

  .figma_heading {
    font-size: 2rem;
}

.homepage-second .bnr-text h1 {
  font-size: 38px;
}

.banner_text h1 {
  font-size: 2.6rem;
  line-height: 40px;
  margin-bottom: 20px;
}

.banner_text p {
  font-size: 1.1rem;
  line-height: 1.5;
}

.ko-accordion-item-header {
  font-size: 16px;
  line-height: 25px;
}

.banner_section_home img {
  bottom: 48px;
  left: 25px;
  opacity: 0.2;
  width: 80px;
  height: 80px;
}

.rush-play-text h2 {
  font-size: 2rem;
}

.about-diff-img {
  height: 320px;
}

.our-mission-text h2 {
  font-size: 2rem;
}

.our-mission-inner-img {
  height: 320px;
}

.newslettr_wrap h4 {
  font-size: 1.1rem;
}

.step-action-para {
  font-size: 1.1rem;
}

.need-help-inner h3 {
  font-size: 22px;
  font-weight: 600;
}

.pbmit-title-wrap h2 {
  font-size: 22px;
}

.our-mission-para {
  font-size: 1.1rem;
  padding-bottom: 45px;
}
}